.topic-pic {
  background-image: asset-url("wolf.jpg");
  height: calc(90vh - 52px);
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  background: asset-url("gradient.jpg") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.topics {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.topic {
    display: inline-block;
    flex: 0 0 500px;
    height: 150px;
    padding: 50px;
    border: 0.25px solid grey;
    outline-style: double;
    outline-color: turquoise;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
    justify-content: space-around;;
}

.margin-create{
  margin-left: 180px;
  margin-right: 180px
}

.margin-create2{
  margin-left: 180px;
  margin-right: 180px
}
